.App {
    display: grid;
    justify-items: center; /* Centers horizontally */
    padding: 5%
  }
  
.clone_checklist {
margin: 2%
}

.save_checklist {
margin: 2%
}
  
.rename_category {
    padding: 2%;
    margin: 2%
}

.checklist_id_display {
    font-size: 5vw;
}